{% extends 'main/base.html' %}
{% load static %}


{% block extra_static %}

<link href="{% static 'main/vendor1/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="{% static 'main/css/sb-admin-2.min.css' %}" rel="stylesheet">

<link href="{% static 'main/management.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<body>
 <section class="main">
      <div class="tab">
             <table class="table table-striped">
               <thead><th style="text-align: center; padding-top:5px; padding-bottom: 0px;" colspan="4"><h3>Project Management Team </h3></th></thead>
               <thead>
                 <tr >
                   <th class="head" scope="col">S.N.</th>
                   <th class="head" scope="col">Name</th>
                   <th class="head" scope="col">Designation</th>
                   <th class="head" scope="col">Email Id</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <th class="th" scope="row">1</th>
                   <td>Ms. Anuradha S. Chagti</td>
                   <td>Joint Secretary, Ministry of Women &Child Development and Mission Director</td>
                   <td>anu.chagti@nic.in</td>
                 </tr>
                 <tr>
                   <th class="th" scope="row">2</th>
                     <td>Dr. P. Ashok Babu</td>
                   <td>Director</td>
                   <td>pashokbabu@ias.nic.in</td>
                 </tr>
                 <tr>
                   <th class="th" scope="row">3</th>

                   <td>Shri Aditya Chopra</td>
                   <td>Executive Director</td>
                   <td>ed.poshan-mwcd@gov.in</td>
                 </tr>
                 <tr>
                   <th class="th" scope="row">4</th>

                   <td>Shri Sanjiv Gajraj</td>
                   <td>Executive Director</td>
                   <td>sanjiv.gajraj@gov.in</td>
                 </tr>
                 <tr>
                   <th class="th" scope="row">5</th>

                   <td>Shri Parimal Karan</td>
                   <td>Project Manager</td>
                   <td>p.karan67@nic.in</td>
                 </tr>
                 <tr>
                   <th class="th" scope="row">6</th>

                   <td>Shri Sunil Kumar Choudhary</td>
                   <td>Project Manager</td>
                   <td>sk.choudhary75@nic.in</td>
                 </tr>
               <tr>
                   <th class="th" scope="row">7</th>

                   <td>Shri Umesh Kumar Motish</td>
                   <td>Project Manager</td>
                   <td>u.motish@nic.in</td>
                 </tr>
               <tr>
                   <th class="th" scope="row">8</th>

                   <td>Shri Amal Mazumdar</td>
                   <td>Assistant Section Officer</td>
                   <td>amal.mazumdar@nic.in</td>
                 </tr>
               <tr>
                   <th class="th" scope="row">9</th>



                   <td>Ms. Mona Yeshwant Jethwa</td>
                   <td>Consultant (Nutrition, Child Development & Health Services [ECCE, IYCF])</td>
                   <td>mona.jethwa@nic.in</td>
                 </tr>
               <tr>
                   <th class="th" scope="row">10</th>

                   <td>Ms. Stakshi Taryon</td>
                   <td>Consultant (Monitoring & Evaluation)</td>
                   <td> stakshi.taryon87@nic.in</td>
                 </tr>
               <tr>
                   <th class="th" scope="row">11</th>

                   <td>Shri Ravi Jain  </td>
                   <td>Consultant (System Analysis)</td>
                   <td>ravi.jain85@nic.in</td>
                 </tr>
               <tr>
                   <th class="th" scope="row">12</th>

                   <td>Ms. Nazia Qureshi  </td>
                   <td>Consultant (System Analysis)</td>
                   <td>nazia.qureshi14@gov.in</td>
                 </tr>
               <tr>
                   <th class="th" scope="row">13</th>

                   <td>Shri Amit Gupta  </td>
                   <td>Project Associate</td>
                   <td>amit.gupta81@gov.in</td>
                 </tr>
               <tr>
                   <th class="th" scope="row">14</th>
                   <td>Shri Yogesh Sharma  </td>
                   <td>Project Associate</td>
                   <td>yogesh.sharma97@nic.in</td>

                 </tr>
               <tr>
                   <th class="th" scope="row">15</th>
                   <td>Ms. Mamta Singh  </td>
                   <td>Project Associate</td>
                   <td>mamta.singh90@gov.in</td>

                 </tr>
               <tr>
                   <th class="th" scope="row">16</th>
                   <td>Ms. Mansi Rawat  </td>
                   <td>Project Associate</td>
                   <td>mansi.rawat96@nic.in</td>

                 </tr>
               <tr>
                   <th class="th" scope="row">17</th>

                   <td>Ms. Neha Sharma </td>
                   <td>Project Associate</td>
                   <td>neha.sharma26@nic.in</td>
                 </tr>
               <tr>
                   <th class="th" scope="row">18</th>

                   <td>Ms. Shivani Sharma  </td>
                   <td>Project Associate</td>
                   <td>shivani.sharma91@nic.in</td>
                 </tr>
               <tr>
                   <th class="th" scope="row">19</th>

                   <td>Ms. S. Sindhu </td>
                   <td>Project Associate </td>
                   <td>s.sindhu92@nic.in</td>
                 </tr>
               <tr>
                   <th class="th" scope="row">20</th>

                   <td>Ms. Anupama Kumari </td>
                   <td>Project Associate</td>
                   <td>anupama.kumari92@nic.in</td>
                 </tr>
               <tr>
                   <th class="th" scope="row">21</th>

                   <td>Shri Shyamvir Singh Verma   </td>
                   <td>Accountant</td>
                   <td>shyamvir.singh55@nic.in</td>
                 </tr>
               <tr>
                   <th class="th" scope="row">22</th>

                   <td>Shri Ram Pal Singh  </td>
                   <td>Accountant</td>
                   <td>rampal.singh57@nic.in</td>
                 </tr>

               </tbody>
             </table>
         </div>
     </section>
</body>
{% endblock %}
