{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Poshan Abhiyaan Admin</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'main/vendor1/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Custom styles for this template-->
  <link href="{% static 'main/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'myadmin-page' %}">
        <div class="sidebar-brand-icon">
          <!--<i class="fas fa-laugh-wink"></i>-->
          <img src="{% static 'main/images/logo.png' %}">
        </div>
        <div class="sidebar-brand-text mx-3">Poshan Abhiyaan Admin</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'myadmin-page' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->


      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Functionalities</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Options:</h6>
            <a class="collapse-item" href="{% url 'patient_reg-page' %}">Patient Registration</a>
            <a class="collapse-item" href="{% url 'officer_reg-page' %}">Medical Instructor<br>Registration</a>
            <a class="collapse-item" href="{% url 'med_supplies-page' %}">Check Medical Supplies</a>

        </div>
      </li>


      <!-- Nav Item - Tables -->
       <li class="nav-item">
         <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages1" aria-expanded="true" aria-controls="collapsePages">
           <i class="fas fa-fw fa-folder"></i>
           <span>Tables</span>
         </a>
         <div id="collapsePages1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
           <div class="bg-white py-2 collapse-inner rounded">
             <h6 class="collapse-header">Options:</h6>
             <a class="collapse-item" href="{% url 'tables_ins-page' %}">Medical Instructors</a>
             <a class="collapse-item" href="{% url 'tables_pat-page' %}">Patients</a>

         </div>
       </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>


            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                <img class="img-profile " src="{% static 'main/images/admin.png' %}">


            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Medical Supplies Information</h1>
            <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
          </div>

          <!-- Content Row -->

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->

                <!-- Card Body -->
                <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Medical Supplies   <button id="edit_supplies_bt" type="button" class="btn btn-danger">Edit</button></h6>

                </div>
                <div class="card-body" style="overflow-y: auto; height: 350px; width: 100%">

                  <h4 class="small font-weight-bold">Riboflavin <span class="float-right">{{ r_quan }}%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" id="r_data" role="progressbar" style="width: {{ r_quan }}%" aria-valuenow="{{ r_quan }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Pyridoxine <span class="float-right">{{ p_quan }}%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" id="p_data" role="progressbar" style="width: {{ p_quan }}%" aria-valuenow="{{ p_quan }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Cobalamin <span class="float-right">{{ c1_quan }}%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" id="c1_data" role="progressbar" style="width:{{ c1_quan }}%" aria-valuenow="{{ c1_quan }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Ascorbate <span class="float-right">{{ a_quan }}%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" id="a_data" role="progressbar" style="width: {{ a_quan }}%" aria-valuenow="{{ a_quan }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Cholecalciferol <span class="float-right">{{ c2_quan }}%</span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-success" id="c2_data" role="progressbar" style="width:{{ c2_quan }}%" aria-valuenow="{{ c2_quan }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>



                </div>
              </div>

              <!-- Color System -->
              <div class="row">
                <div class="col-lg-6 mb-4">
                  <div class="card bg-success text-white shadow">
                    <div class="card-body">
                      Abundance
                      <!--<div class="text-white-50 small">#1cc88a</div>-->
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-info text-white shadow">
                    <div class="card-body">
                      Enough Availability
                      <!--<div class="text-white-50 small">#36b9cc</div>-->
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                     Contact Supplier
                      <!--<div class="text-white-50 small">#4e73df</div>-->
                    </div>
                  </div>
                </div>


                <div class="col-lg-6 mb-4">
                  <div class="card bg-warning text-white shadow">
                    <div class="card-body">
                      Running Out Quickly
                      <!--<div class="text-white-50 small">#f6c23e</div>-->
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                      Contact Immediately
                      <!--<div class="text-white-50 small">#e74a3b</div>-->
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-secondary text-white shadow">
                    <div class="card-body">
                      Not Present
                     <!-- <div class="text-white-50 small">#858796</div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->

          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->

              </div>

            </div>


            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
</div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Poshan Abhiyaan Admin</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->


    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Medicine Supplies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="med_form" method="POST">
          {% csrf_token %}
            Riboflavin  <input type="text" class="form-control" name="riboflavin">
            Pyridoxine  <input type="text" class="form-control" name="pyridoxine">
            Cobalamin   <input type="text" class="form-control" name="cobalamin">
            Ascorbate   <input type="text" class="form-control" name="ascorbate">
            Cholecalciferol <input type="text" class="form-control" name="cholecalciferol">
            <div style="margin-top:10px"><button id="final_btn" type="submit" class="btn btn-primary">Edit</button></div>
      </form>
      </div>
    </div>
  </div>
</div>

  <script>
           $(document).ready(function(){
                 $("#edit_supplies_bt").click(function(){
                       $('#exampleModal').modal('show');
                       var dat1 = $("#r_data").attr("aria-valuenow");
                       var dat2 = $("#p_data").attr("aria-valuenow");
                       var dat3 = $("#c1_data").attr("aria-valuenow");
                       var dat4 = $("#a_data").attr("aria-valuenow");
                       var dat5 = $("#c2_data").attr("aria-valuenow");

                       $('#med_form').find('input[name="riboflavin"]').val(dat1);
                       $('#med_form').find('input[name="pyridoxine"]').val(dat2);
                       $('#med_form').find('input[name="cobalamin"]').val(dat3);
                       $('#med_form').find('input[name="ascorbate"]').val(dat4);
                       $('#med_form').find('input[name="cholecalciferol"]').val(dat5);


                       $("#med_form").submit(function(e){
                               e.preventDefault();
                               $.ajax({
                                    type:'POST',
                                    url: '/myadmin/supplies',
                                    data:{
                                        riboflavin: $('#med_form').find('input[name="riboflavin"]').val(),
                                        pyridoxine: $('#med_form').find('input[name="pyridoxine"]').val(),
                                        cobalamin: $('#med_form').find('input[name="cobalamin"]').val(),
                                        ascorbate: $('#med_form').find('input[name="ascorbate"]').val(),
                                        cholecalciferol: $('#med_form').find('input[name="cholecalciferol"]').val(),

                                    },
                                    success:function(){
                                         $('#exampleModal').modal('hide');     
                                    }
                               });


                       });





                 });

          });


  </script>




  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'main/vendor1/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'main/vendor1/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'main/vendor1/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'main/js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'main/vendor1/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'main/js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'main/js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>
